<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ojy.bodhi_pavilion.mapper.CategoryMapper" >
  <resultMap id="ResultMap" type="com.ojy.bodhi_pavilion.pojo.Category" >
    <id column="id" property="id"/>
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
  </resultMap>
  <sql id="tbFieldList" >
    id, type, name, sort, create_time, update_time, create_user, update_user
  </sql>


  <select id="selectByType" resultMap="ResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="tbFieldList" />
    from category
    <where>
      <if test="type != null">
        type = #{type}
      </if>
    </where>
    order by update_time desc
    <if test="start != null and size != null ">
      limit #{start}, #{size}
    </if>
  </select>

  <select id="selectCategoryList" resultMap="ResultMap" parameterType="map">
    select
    <include refid="tbFieldList" />
    from category
    order by update_time desc
    limit #{start}, #{size}
  </select>

  <select id="selectTotal" resultType="int">
    select count(id) from category
  </select>


  <delete id="deleteById" parameterType="java.lang.String" >
    delete from category where id = #{id}
  </delete>


  <insert id="insert" parameterType="com.ojy.bodhi_pavilion.pojo.Category" >
    insert into category (id, type, name,sort, create_time, update_time,
      create_user, update_user)
    values (#{id}, #{type}, #{name,jdbcType=VARCHAR}, #{sort}, #{createTime},
            #{updateTime}, #{createUser}, #{updateUser})
  </insert>


  <update id="updateByIdSelective" parameterType="com.ojy.bodhi_pavilion.pojo.Category" >
    update category
    <set >
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="name != null and name !=''" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null and sort !=''" >
        sort = #{sort},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUser != null and updateUser !=''" >
        update_user = #{updateUser},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>